<!-- templates/login.html -->
{% extends 'base.html' %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Create channel</h3>
                </div>
                <div class="panel-body">
                    <form accept-charset="UTF-8" action="/create_channel" method="post">
                    {% module xsrf_form_html() %}
                    <fieldset>
                        <div class="form-group">
                            {% if errors %}
                            <p class="bg-danger">{{ errors }}</p>
                            {% end %}
                            <input class="form-control" placeholder="Channel" name="name" type="text">
                        </div>
                        <input class="btn btn-lg btn-success btn-block" type="submit" value="Create">
                    </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% end %}

